<span class="d-block mt-3 ml-3 mb-3 rounded bg-dark">
<!--<div class=" p-1 border-bottom d-flex align-items-center">
    <input class="m-3 input-group">
  </div>-->
  <div class="mll-1 p-2 text-white">
    <h2 class="ml-1 p-2">Popular Algorithms</h2>
    <a href="cso">
      <h6 class="text-white ml-2 p-1">Cat Swarm Optimization</h6>
    </a>
    <a href="bso">
      <h6 class="text-white ml-2 p-1">Bee Swarm Optimization</h6>
    </a>
        <h2 class="ml-1 p-2">Exotic Algorithms</h2>
    <a href="cso">
      <h6 class="text-white ml-2 p-1">Docker Swarm Optimization</h6>
    </a>
    <a href="bso">
      <h6 class="text-white ml-2 p-1">GCC Optimization</h6>
    </a>
  </div>
</span>
