<app-wiki-entry [repo]="algorithmInfo">

</app-wiki-entry>
<app-parameters *ngIf="algorithmInfo" [parameterUrl]="algorithmInfo.parameterJsonUrl" #parameters>

</app-parameters>
<div class="mb-5">
  <h3>Select an optimization algorithm:</h3>
  <div class="d-flex flex-row">
    <select class="form-control m-3 w-auto" (change)="select($event)">
      <option *ngFor="let func of functions; let i=index" [id]="i">{{func.name}}</option>
    </select>
    <div class="btn-sm btn-primary w-auto d-flex justify-self-center align-self-center" (click)="evaluate()">Evaluate</div>
  </div>
  <app-graph *ngIf="AlgorithmResults && FunctionResults" [LinePoints]="AlgorithmResults" [SurfacePoints]="FunctionResults">
  </app-graph>
</div>
