<app-wiki-entry [repo]="algorithmInfo">

</app-wiki-entry>
<app-parameters *ngIf="algorithmInfo" [parameterUrl]="algorithmInfo.parameterJsonUrl" #parameters>

</app-parameters>
<div class="mb-5">
  <h3>Select an optimization function:</h3>
  <div class="d-flex flex-row">
    <select class="form-control m-3 w-auto">
      <option *ngFor="let func of functions">{{func.name}}</option>
    </select>
    <div class="btn-sm btn-primary w-auto d-flex justify-self-center align-self-center" (click)="evaluate()">Evaluate</div>
  </div>
  <app-graph *ngIf="AlgorithmResults && FunctionResults" [LinePoints]="Algorithmesults" [SurfacePoints]="FunctionResults">
  </app-graph>
</div>
