/* You can add global styles to this file, and also import other style files */
markdown {
    h1{
       /* background:#e00;
        color:#fff;*/
        border-bottom:#e00 2px solid;
        padding:4px;
        display: table;
    }
    h2{
        margin-top:20px;
        border-bottom:#888 2px solid;
    }
}